<div class="container">
<h1>Edit plan</h1>
<%= form_for @plan, :html => {:class => 'form-horizontal'}, :method => 'POST', url: :update_mealplan do |f| %>
   <%= f.hidden_field :id, :value => @plan.id %>
 </div>
 <div class="form-group">
  <%= f.label :monday, :class => 'control-label col-sm-2' %>
  <div class="col-sm-1">
    <%= f.text_field :monday, value: @plan.monday, :class => 'form-control' %> 
  </div>
 </div>
 <div class="form-group">
  <%= f.label :tuesday, :class => 'control-label col-sm-2' %>
  <div class="col-sm-1">
    <%= f.text_field :tuesday, value: @plan.tuesday, :class => 'form-control' %> 
  </div>
 </div>
 <div class="form-group">
  <%= f.label :wednesday, :class => 'control-label col-sm-2' %>
  <div class="col-sm-1">
    <%= f.text_field :wednesday, value: @plan.wednesday, :class => 'form-control' %> 
  </div>
 </div>
 <div class="form-group">
  <%= f.label :thursday, :class => 'control-label col-sm-2' %>
  <div class="col-sm-1">
    <%= f.text_field :thursday, value: @plan.thursday, :class => 'form-control' %> 
  </div>
 </div>
 <div class="form-group">
  <%= f.label :friday, :class => 'control-label col-sm-2' %>
  <div class="col-sm-1">
    <%= f.text_field :friday, value: @plan.friday, :class => 'form-control' %> 
  </div>
 </div>
 <div class="form-group">
  <%= f.label :saturday, :class => 'control-label col-sm-2' %>
  <div class="col-sm-1">
    <%= f.text_field :saturday, value: @plan.saturday, :class => 'form-control' %> 
  </div>
 </div>
  <div class="form-group">
  <%= f.label :sunday, :class => 'control-label col-sm-2' %>
  <div class="col-sm-1">
    <%= f.text_field :sunday, value: @plan.sunday, :class => 'form-control' %> 
  </div>
 </div>
  <%= f.submit "Update", :class => 'btn btn-primary' %>&nbsp;&nbsp;<%= link_to "All plans", mealplans_path, :class => 'btn btn-default'%>
 <% end %>
</div>
