<%- model_class = Meal -%>
<% @meals.each do |meal| %>
  <div class="card">
    <section class="picture" id="mealphoto<%= meal.id %>" onclick="toggleFunction(<%= meal.id %>)">
      <%= image_tag(meal.image.url, size: "300x300") if meal.image %>
    </section>
    <section class="picture" id="chefphoto<%= meal.id %>" style="display:none;" onclick="toggleFunction(<%= meal.id %>)">
      <%= image_tag(meal.chef.image.url, size: "300x300") if meal.image %>
    </section>
	  <section class="description" id="mealdescription<%= meal.id %>">
      <%= meal.description %>
    </section>
    <section class="description" id="chefdescription<%= meal.id %>" style="display:none" >
      <%= meal.chef.description %>
    </section>
    <%= div_for meal do |meal| %>
      <%= render :partial => 'customer_meals/button', locals: { meal: meal }%>
    <% end %>
  </div>
<% end %>