<h3>Add new meal</h3>

<%= form_for(@meal) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description%>
  </div>
  <div class="field">  
    <%= f.hidden_field :chef_id, :value => @chef.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
