<div class="card" id="my_addresses_list">
  <h4 class="delivery_address_heading saved_addresses_heading">My Addresses</h4>
  <div class="addresses_div">
    <% if @addresses != nil %>
      <% @addresses.each do |address| %>
        <div class="address_item" id="address_id_<% address.id %>" >
          <span><%= address.street.truncate(18) %></span>
          <%= link_to "Edit", edit_address_path(address.id), class: "btn-primary btn-sm edit-btn", remote: true %>
          <%= link_to "Delete", address_path(address.id), class: "btn btn-xs btn-danger delete-btn delete-btn2", method: :delete, remote: true %>          
        </div></br>
      <% end %>
    <% end %>
  </div>
  <div class="form-group" id="div_for_address_btn">
    <%= link_to "Settings", mymealplan_path, class: "btn btn-default cancel_address", id: "cancel_address2", remote: true %>
    <%= link_to "Add address", new_address_path, class: "btn btn-success add_address_btn", id: "add_address_btn2", remote: true %>
  </div>
</div>
