<% if @address.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@address.errors.count, "error") %> prohibited your this from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="card">
  <%= form_for @address, :html => { multipart: true, :class => "form-horizontal meal" } do |f| %>
    <h4 class="delivery_address_heading">Add Address</h4>
    <div class="form-group" id="street_address">
      <%= f.text_field :street, :class => 'form-control col-md-12', :placeholder => "Address line 1" %>
    </div>
    <div class="form-group" id="street_address">
      <%= f.text_field :city, :class => 'form-control col-md-6', :placeholder => "City or Town" %>
    </div>
    <div class="form-group" id="postcode_address">
      <%= f.text_field :postcode, :class => 'form-control', :placeholder => "Postcode" %>
    </div>
    <div class="form-group" id="details_address">
      <%= f.text_area :details, :class => 'form-control details_address', :placeholder => "Extra info: where to leave your food so we keep on time, and difficult to find entrances." %>
    </div>
    <div class="form-group" id="phone_details">
      <%= f.text_field :phone, :class => 'form-control', :placeholder => "Phone number" %>
    </div>
    
    <div class="form-group" id="div_for_address_btn">
        <%= link_to t('.back', :default => t("helpers.links.back")),
                  addresses_path, :class => 'btn btn-default', :id => 'cancel_address' %>
        <%= f.submit "Save", :class => 'btn btn-success' %>
    </div>
  <% end %>
</div>